<%include headerLayout.ejs %>
<header>
  <div class="container">
    <div class="header-menu">
      <span><%=username%><span> / <a href='/auth/signOut'> Sign Out</a>
    </div>
    <div class="header-tit">
      <h1>Portfolio</h1>
    </div>   
  </div>      
  </header>
  <main>
    <div class="container">
      <div class="main">
        <ul>
          <li><a href="#" class="list-item"><i class="far fa-id-card"></i><span>About</span></a></li>            
          <li><a href="/topics/skills" class="list-item"><i class="far fa-chart-bar"></i><span>Skill</span></a></li>            
          <li><a href="/topics/projects" class="list-item"><i class="fas fa-laptop-code"></i><span>Project</span></a></li>            
          <li><a href="#" class="list-item"><i class="far fa-envelope"></i><span>Contact</span></a></li>            
        </ul>  
      </div>
    </div>
  </main>
<%include footerLayout.ejs %>
