<%include headerLayout.ejs %>
<section class='container'>
  <h1>여기 허전함</h1>
  <form action='/auth/signUp-process' method='post' autocomplete="off" class='signUp_box'>
    <div class='input-area'>
      <label for='signUp_usr'>Username</label>
      <input type='text' name='usr' id='signUp_usr' class='textBox'>
      
    </div>
    <!--//Username -->
    <div class='input-area'>
      <label for='signUp_email'>Email</label>
      <input type='email' name='email' id='signUp_email' class='textBox'>
    </div>
    <!--//Email-->
    <div class='input-area'>
      <label for='signUp_pwd'>Password</label>
      <input type='password' name='pwd' id='signUp_pwd' class='textBox'>
    </div>
    <!--//Password-->
    <div class='input-area'>
      <input type='submit' value='Sign Up' id='signUp_submit' class='textBox'>
      <span><%=errMsg%></span>
    </div>
    <!--//Password-->
  </form>
  <div id='signUp_signIn'>
    <span>Already have an account?</span><a href='/auth/signIn'> Sign in</a>
  </div>
</section>

<!-- 로딩 페이지 -->
<!-- 이 부분 section 태그 안에 넣어서 다시 레이아웃 잡자 -->
<!-- <div id='loading' class="container">
  <div id="animationWindow"></div>
  <h1 id='loadTxt'>Loading...</h1>
</div> -->

<!-- 회원가입 형식 체크 -->
<script src='/javascripts/signUpChecker.js'></script>
<!-- 로딩 애니메이션 -->
<!-- <script src='/javascripts/loading.js'></script> -->
<%include footerLayout.ejs %>




