body {
  height: 100vh;
  background: #ebd1bc;
  font-family: 'Jua', sans-serif;
}

.container {
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.signUp_box {
  width: 300px; padding: 40px;
  margin-top: 20px; margin-bottom: 20px;
  border-radius: 10px;
  background: #fce38a;
}

.input-area {
  width: 100%;
  padding-bottom:10px;
  display:flex;
  flex-direction:column;
  align-items: center;
} 

.input-area span {
  padding-top: 10px;
}

.textBox {
  width: 180px; padding:15px 10px;
  border-radius: 20px;
  border:2px solid #f39c12;
  background: none; 
  outline:none;
}

#signUp_signIn {
  font-size: 20px;
}

#signUp_email:focus, #signUp_pwd:focus, #signUp_usr:focus {
  width: 230px;
}

#signUp_email, #signUp_pwd, #signUp_usr {
  transition:width 0.5s;
}

#signUp_submit {
  margin-top:10px;
  cursor:pointer;
}

#signUp_submit:hover {background: #f39c12; color:#fce38a}
#signUp_signIn a:hover {color:#fff}
/* 로딩 페이지 */
#animationWindow{
  width: 500px; height: 500px;
}
.container #loadTxt {
  transform: translate(0, -150px);
}

section form span {
  color:red;
}

